<nav class="navbar navbar-dark navbar-expand-md" style="background-color:#2C2C2C">
    <a class="navbar-brand logo fs-3 ms-3" href="/">ECO VIGILANCE</a>
    
<button class="navbar-toggler" type="button" data-bs-toggle="collapse " data-bs-target='#btn' >
<i class='bx bx-menu'></i>
</button>

</nav>