<%- include ("partials/header.ejs") %>
<%- include ("partials/homenavbar.ejs")%>
    <div class="container mt-5">
        <br>
        <div class="jumbotron" style="background-color:#2C2C2C; color:#FFF;">
            <h1 class="display-4">Olá, Cidadão!</h1>
            <p class="lead">Bem-vindo ao EcoVigilance</p>
            <hr class="my-4">
            <p>
                No EcoVigilance, acreditamos em um futuro mais limpo e sustentável. Nosso projeto combina tecnologia de ponta e consciência ambiental para combater o descarte irregular de resíduos sólidos.
                Com sensores inteligentes espalhados estrategicamente pela cidade, monitoramos em tempo real os locais onde ocorrem descartes ilegais. Todas as denúncias serão exibidas em um mapa interativo, permitindo que você visualize os pontos de vigilância ativos e acompanhe as ocorrências em tempo real.
                Monitoramento Contínuo: Nossos sensores identificam e registram o descarte de resíduos.
                Comunicação Imediata: As informações são enviadas automaticamente para nossa plataforma.
                Transparência e Ação: Os dados são disponibilizados para autoridades, organizações ambientais e cidadãos comprometidos com o meio ambiente.
                Sustentabilidade: Contribuímos para a preservação dos recursos naturais.
                Responsabilidade Social: Facilitamos a identificação e prevenção de práticas prejudiciais ao meio ambiente.
                Acompanhe e transforme o mundo ao seu redor.</p>
            <p class="lead">
                <a class="btn btn-lg" style="background-color: #D9B44A; color:#FFF;" href="#" id="post-trigger" data-url="/Reports/save" role="button">Teste de sensor</a>
            </p>
          </div>
        <% Reports.forEach((one)=>{ %>
        <br>
        <div class="card mb-3" style="background-color:#2C2C2C; color:#FFF;">
            <div class="card-header">
                <h2><%= one.title %></h2>

            </div>
            <div class="card-body" style="background-color:#424242;">
                <a class="btn btn-primary"  href="https://salvador.ba.gov.br/category/contatos/">Reportar</a>
            </div>
        </div>
        <% }) %>
        <br>
        <div class="row" >
            
            <div class="col col-12"><a href="/Reports/page/2" style="float:right;"><i class="bi bi-arrow-right-square-fill">Next</i></a></div>
        </div>
        <br>
        <br>
    </div>

<%- include ("partials/footer.ejs") %>